@{
    ViewData["Title"] = "Games";
}
<br />



<a asp-action="List" class="btn btn-outline-danger btn-lg">
    <i class="bi bi-plus-circle-fill"></i>
    All Games
</a>
<br />
<br />

<a asp-action="Create" class="btn btn-outline-danger btn-lg">
    <i class="bi bi-plus-circle-fill"></i>
      Add Game
    </a>
